{% extends "layout.html" %}
{% block body %}
<form action="{{ url_for('categories') }}" method="get" id="Categories">
    <label for="Categories" class="form-label fs-2">Recipe Categories</label>

    <div class="container text-center">
        <div class="row align-items-start">
          <div class="col-4">
            <div class="card" style="width: 300px; height: 280px;">
                <img src="https://media.istockphoto.com/vectors/minutes-cooking-time-illustration-vector-id989415926?k=20&m=989415926&s=612x612&w=0&h=VHMHwEgECUyh91DMdtQYNWDEZj5FsxwIKykcITSvBWs=" class="card-img-top" style="height:205px;" alt="Clock representing 30-min meals.">
                <div class="card-body">
                <p class="card-text">30-Min Meals</p>
                <a href="/view_category?category=30-Min Meals" class="stretched-link" method="get"></a>
                </div>
            </div>
          </div>
            <div class="col-4">
                <div class="card" style="width: 300px; height: 280px;">
                    <img src="https://images.unsplash.com/photo-1623689046286-01d812cc8bad?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1750&q=80" class="card-img-top" style="height:205px;" alt="Chinese food dish.">
                    <div class="card-body">
                    <p class="card-text">Chinese</p>
                    <a href="/view_category?category=chinese_food" class="stretched-link" method="get"></a>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card" style="width: 300px; height: 280px;">
                    <img src="https://images.pexels.com/photos/2087748/pexels-photo-2087748.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-top" style="height:205px;" alt="Tacos accompanied by rice and beans.">
                    <div class="card-body">
                    <p class="card-text">Mexican</p>
                    <a href="/view_category?category=Mexican" class="stretched-link" method="get"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-start">
          <div class="col-4">
            <div class="card" style="width: 300px; height: 280px;">
                <img src="https://images.unsplash.com/photo-1616299915952-04c803388e5f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1524&q=80" class="card-img-top" style="height:205px;" alt="Different Italian pasta dishes.">
                <div class="card-body">
                <p class="card-text">Italian</p>
                <a href="/view_category?category=italian_food" class="stretched-link" method="get"></a>
                </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card" style="width: 300px; height: 280px;">
                <img src="https://images.unsplash.com/photo-1618219878829-8afd92751bed?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" class="card-img-top" style="height:205px;" alt="Gourmet burger.">
                <div class="card-body">
                <p class="card-text">American</p>
                <a href="/view_category?category=american_food" class="stretched-link" method="get"></a>
                </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card" style="width: 300px; height: 280px;">
                <img src="https://images.unsplash.com/photo-1611143669185-af224c5e3252?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80" class="card-img-top" style="height:205px;" alt="Japanese sushi on plate.">
                <div class="card-body">
                <p class="card-text">Japanese</p>
                <a href="/view_category?category=japanese_food" class="stretched-link" method="get"></a>
                </div>
            </div>
          </div>
        </div>

        <div class="row align-items-start">
          <div class="col-4">
            <div class="card" style="width: 300px; height: 280px;">
                <img src="https://images.unsplash.com/photo-1631515242808-497c3fbd3972?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1832&q=80" class="card-img-top" style="height:205px;" alt="Different Indian dishes.">
                <div class="card-body">
                <p class="card-text">Indian</p>
                <a href="/view_category?category=indian_food" class="stretched-link" method="get"></a>
                </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card" style="width: 300px; height: 280px;">
                <img src="https://images.pexels.com/photos/7282786/pexels-photo-7282786.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-top" style="height:205px;" alt="Close up of Greek dish.">
                <div class="card-body">
                <p class="card-text">Greek</p>
                <a href="/view_category?category=greek_food" class="stretched-link" method="get"></a>
                </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card" style="width: 300px; height: 280px;">
                <img src="https://images.pexels.com/photos/5388704/pexels-photo-5388704.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-top" style="height:205px;" alt="Cooked escargots.">
                <div class="card-body">
                <p class="card-text">French</p>
                <a href="/view_category?category=french_food" class="stretched-link" method="get"></a>
                </div>
            </div>
          </div>
        </div>
    </div>
</form>
{% endblock %}