{% extends "layout.html" %}
{% block body %}
<div class="container">
    <h1 class="form-label text-center">{{category}} Recipes</h1>
</div>

<ul class="entries" id="entries">
    {% for recipe in recipes %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="text-center">
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img" alt="...">
                        <div class="card-body">
                            <a> {{ recipe.title }}</a>
                        </div>
                        <div class="card-footer">
                            <form action="{{ url_for ('view_recipe')}}" method="get" class="view_recipe">
                                <input type="hidden" name="recipe_id" value={{ recipe.id }}>
                                <button type="submit" style="margin-left:100px" class="btn btn-sm">Details</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
        </div>
    </div>
{% else %}
    <div>
    Nothing in here so far
    </div>
{% endfor %}
</ul>
{% endblock %}
