{% extends "layout.html" %}
{% block body %}
<div class="container">
    <form action="{{ url_for('view_category') }}" method="get" id="category">
        <label for="category" class="form-label">{{category.category}}</label>
    </form>
</div>

<ul class="entries" id="entries">
{% for recipe in recipes %}
    <div class="container">
        <div class="text-center">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img" alt="...">
                <div class="card-body">
                    <p class="card-text">An example Recipe</p>
                    <a href="{{ url_for ('view_recipe')}}" class="stretched-link"></a>
                    <input type="hidden" name="clicked" value="{{ recipe.id }}">
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div>
        Nothing in here so far
    </div>
{% endfor %}
</ul>
{% endblock %}
