{% extends "layout.html" %}
{% block body %}
<main>
    <div class="auth-form-header">
        <h1>Reset Your Password</h1>
    </div>
    <div class="auth-form px-3" id="ResetPassword">
        <div class="auth-form-body mt-3">
            <form action="{{ url_for ('reset_password')}}" method="post" name="ResetPassword">
                <label for="Password" class="form-label">Password</label>
                <input type="password" class="form-control" id="Password" name="Password">
                <div class="position-relative">
                    <label for="password">Retype Password</label>
                    <input type="password" name="RetypePassword" id="password" class="form-control">
                    <input type="submit" name="commit" value="Reset Password" class="btn btn-primary btn-block">
                    <input type="hidden" name="account_email" value="{{ account_email }}">
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}