{% extends "layout.html" %}
{% block body %}
    <h1>Reset Your Password</h1>
    <form action="{{ url_for ('reset_password')}}" method="post">
        <div class="input-group mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password" required>
        </div>
        <div class="input-group mb-3">
            <label for="RetypePassword" class="form-label">Retype Password</label>
            <input type="password" name="RetypePassword" id="RetypePassword" required>
        </div>
        <div class="input-group mb-3">
            <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
            <input type="hidden" name="account_email" value="{{ account_email }}">
        </div>
    </form>
{% endblock %}