{% extends "layout.html" %}
{% block body %}
    <h1>Reset Your Password</h1>
    <form action="{{ url_for ('reset_password')}}" method="post">
        <div class="input-group mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" id="email" required>
        </div>
        <div class="input-group mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password" required>
        </div>
        <div class="input-group mb-3">
            <label for="RetypePassword" class="form-label">Retype Password</label>
            <input type="password" name="RetypePassword" id="RetypePassword" required>
        </div>
        <div class="input-group mb-3">
            <input type="submit" value="Reset Password">
        </div>
    </form>
{% endblock %}