{% extends "layout.html" %}
{% block body %}
<ul class="saved_recipes" id="saved_recipes">
        {% for recipe in saved_recipes %}
            <div class="container">
                <div class="text-center">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <a> {{ recipe.title }}</a>
                            <p class="card-text">An example Recipe</p>
                            <form action="{{ url_for ('view_recipe')}}" method="get" class="view_recipe">
                                <input type="hidden" name="recipe_id" value={{ recipe.recipe_id }}>
                                <button type="submit" style="margin-left:100px" class="btn btn-sm">Details</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
        <div>
            Save your favorite Recipe in here!
        </div>
        {% endfor %}
    </ul>
{% endblock %}