{% extends "layout.html" %}
{% block body %}
<form action="{{ url_for('keyword_search') }}" method="post" class="add-entry" id="keyword_Search">
    <div class="container">
        <div class="input-group rounded w-25">
          <input type="text" name="keyword_Search" class="form-control rounded" placeholder="Type in a keyword" aria-label="Search" aria-describedby="search-addon"/>
          <button class="btn btn-outline-dark" type="submit">Search</button>
        </div>
    </div>
    <div class="container">
        <label class="fs-5" for="dietRestr">Choose a Dietary Restriction:</label>
        <select name="tag_id" id="dietRestr">
            {% for tag in diet_tag %}
                <option value={{tag.tag_id}}>{{tag.tag_name}}</option>
            {% endfor %}
        </select>
        <button type="submit" value="Submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
        </button>
    </div>
    <br>
</form>
<ul class="entries" id="entries">
    <div class="container">
        <div class="row">
          {% for recipe in recipes %}
            <div class="col-4">
                <div class="text-center">
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img" alt="...">
                        <div class="card-body">
                            <a> {{ recipe.title }}</a>
                        </div>
                        <div class="card-footer">
                            <form action="{{ url_for ('view_recipe')}}" method="get" class="view_recipe">
                                <input type="hidden" name="recipe_id" value={{ recipe.id }}>
                                <button type="submit" style="margin-left:100px" class="btn btn-sm">Details</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
          {% else %}
              <div>
                Nothing in here so far
              </div>
          {% endfor %}
        </div>
    </div>
</ul>
{% endblock %}