{% extends "layout.html" %}
{% block body %}
    <h1>{{ session.user_id }}</h1>
    <img src="../static/profile_picture.png" alt="profile picture">
    <label>{{ session.user_id }}</label>

    <ul class="created-recipes" id="created_recipes">
        {% for recipe in created_recipes %}
            <div class="container">
                <div class="text-center">
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img" alt="...">
                        <div class="card-body">
                            <a> {{ recipe.id }}</a>
                            <a> {{ recipe.title }}</a>
                            <a> {{ recipe.category }}</a>
                            <a> {{ recipe.content }}</a>
                        </div>
                        <div class="card-footer">
                            <form action="{{ url_for ('view_recipe')}}" method="get" class="view_recipe">
                                <input type="hidden" name="recipe_id" value={{ recipe.id }}>
                                <button type="submit" style="margin-left:100px" class="btn btn-sm">Details</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
        <div>
            Add your favorite Recipe in here!
        </div>
        {% endfor %}
    </ul>


    <ul class="save_recipe" id="save_recipe">
        {% for recipe in save_recipe %}

        {% else %}
        <div>
            Add your favorite Recipe in here!
        </div>
        {% endfor %}
    </ul>

{% endblock %}