{% extends "layout.html" %}
{% block body %}
<main>
    <div class="auth-form-header">
        <h1>Reset Your Password</h1>
    </div>
    <div class="auth-form px-3" id="verification">
        <div class="auth-form-body mt-3">
            <form action="{{ url_for ('sendingOTP')}}" method="post" name="verification">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" name="email" id="email">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                <input type="hidden" name="verification_type" value="{{ verification_type }}">
            </form>
        </div>
    </div>
</main>
{% endblock %}