{% extends "layout.html" %}
{% block body %}
<div class="container">
    <form action="{{ url_for('view_recipe') }}" method="get" id="view_recipe">
        <label for="view_recipe" class="form-label">View Recipe Page</label>
        <dl>
            <h1>{{recipe.title}}</h1>
            <dt>{{recipe.category}}</dt>
            <p>{{recipe.content}}</p>
        </dl>
    </form>
    <form action="{{ url_for('save_recipe') }}" method="post" id="save_recipe">
{#        <button onclick ="save_recipe(`{{ recipe.title }}`, `{{ recipe.category }}`, `{{ recipe.content }}`)">Save</button>#}
        <button>Save</button>
        <input type="hidden" name="title" value="{{ recipe.title }}" class="title">
        <input type="hidden" name="category" value="{{ recipe.category }}" class="category">
        <input type="hidden" name="content" value="{{ recipe.content }}" class="content">

    </form>
</div>
{% endblock %}
