{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <form action="{{ url_for('view_recipe') }}" id="view_recipe">
            <h1>{{recipe.title}}</h1>
            <dt>{{recipe.category}}</dt>
            <p>{{recipe.content}}</p>
        </form>
        {% if liked==1 %}
            <form action="{{ url_for('like_recipe') }}" method="post" class="like-recipe">
               <input type="hidden" name="action" value='unlike'>
                <button type="submit" class="btn btn-outline-dark">Unlike</button>
                <input type="hidden" name="unlike_me" value={{ recipe.id }}>
                <input type="hidden" name="like_count" value={{ recipe.likes }}>
            </form>
        {% elif liked==0 %}
            <form action="{{ url_for('like_recipe') }}" method="post" class="like-recipe">
                <input type="hidden" name="action" value='like'>
                <button id="like_button" type="submit" class="btn btn-outline-dark">Like</button>
                <input type="hidden" name="like_me" value={{ recipe.id }}>
                <input type="hidden" name="like_count" value={{ recipe.likes }}>
            </form>
        {% endif %}
        <dt>{{recipe.likes}}</dt>
        <form action="{{ url_for('delete_recipe') }}" method="post">
            <input type="hidden" name="id" value= "{{ recipe.id }}">
            <button type="submit" class="btn btn-outline-dark">Delete</button>
        </form>
        <form action="{{ url_for('edit') }}" method="get">
            <input type="hidden" name="id" value= "{{ recipe.id }}">
            <button type="submit" class="btn btn-outline-dark">Edit</button>
        </form>
        <form action="{{ url_for('save_recipe') }}" method="post" id="save_recipe">
            {#<button onclick ="save_recipe(`{{ recipe.title }}`, `{{ recipe.category }}`, `{{ recipe.content }}`)">Save</button>#}
            <button type="submit" class="btn btn-outline-dark">Save</button>
            <input type="hidden" name="title" value="{{ recipe.title }}" class="title">
            <input type="hidden" name="category" value="{{ recipe.category }}" class="category">
            <input type="hidden" name="content" value="{{ recipe.content }}" class="content">
        </form>
        <form action="{{ url_for('review_recipe') }}" method="get" class="review-recipe">
            <button type="submit" class="btn btn-outline-dark">Review</button>
            <input type="hidden" name="review_me" value={{ recipe.id }}>
        </form>
        {% for each_review in reviews %}
            <p>{{ each_review.review }}</p>
        {% else %}
           <div class="alert alert-dark" role="alert">
                No reviews here so far!
           </div>
        {% endfor %}
    </div>
{% endblock %}
