{% extends "layout.html" %}
{% block body %}

<div class="container">
    <div class="text-center fs-3">
      <p>Recipe of the Day!</p>
      <a href="{{ url_for ('view_recipe')}}">
          <img src={{cover.cover}} class="rounded" alt="..." id="recipe_of_the_day">

      </a>
    </div>

    <div class="text-center">
        <form action="{{ url_for('keyword_search') }}" method="post" class="add-entry" id="keyword_Search">
            <div class="container text-center position-absolute top-50 start-50 translate-middle">
                <label for="keyword_Search" class="form-label fs-2 text-center">Search For Recipes!
                    <input type="text" size="30" name="keyword_Search" class="form-control">
                </label>
            </div>
        </form>
    </div>
</div>





{% endblock %}