{% extends "layout.html" %}
{% block body %}
<form action="{{ url_for ('categories')}}" method="get">
    <button type="submit" class="btn btn-outline-dark">Categories</button>
</form>

<form action="{{ url_for('homepage') }}" method="post" class="add-entry" id="keyword_Search">
    <div class="container text-center position-absolute top-50 start-50 translate-middle">
        <label for="keyword_Search" class="form-label fs-2 text-center">Search For Recipes!
            <input type="text" size="30" name="title" class="form-control">
        </label>
    </div>

    <button type="submit" class="btn fs-2 position-absolute bottom-25 end-50">Recipe of the Day!</button>
</form>


<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">An example Recipe</p>
        <a href="{{ url_for ('view_recipe')}}" class="stretched-link" method="get"></a>
    </div>
</div>

{% endblock %}