{% extends "layout.html" %}
{% block body %}
    <h1>Login</h1>
    <form action="{{ url_for ('login')}}" method="post">
        <div class="input-group mb-3">
            <label for="username" class="form-label">Username/Email</label>
            <input type="text" name="username" id="username" class="form-control" placeholder="Your username or email" aria-label="Username" aria-describedby="basic-addon1" required>
        </div>
        <div class="input-group mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Enter your password" aria-label="Password" aria-describedby="basic-addon1" required>
        </div>

        <input type="submit" value="Login">
    </form>
    <a class="blog-header-logo text-dark" href="{{ url_for ('forget_password')}}">Forgot Your Password?</a>
{% endblock %}