{% extends "layout.html" %}
{% block body %}
<form action="{{ url_for('keyword_search') }}" method="post" class="add-entry" id="keyword_Search">
    <label for="keyword_Search" class="form-label">Keyword
            <input type="text" size="30" name="keyword_Search" class="form-control">
    </label>
</form>
<ul class="entries" id="entries">
  {% for recipe in recipes %}
    <div class="container">

        <div class="text-center">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img" alt="...">
                <div class="card-body">
                    <a> {{ recipe.id }}</a>
                    <a> {{ recipe.title }}</a>
                    <a> {{ recipe.category }}</a>
                    <a> {{ recipe.content }}</a>
                    <a href="{{ url_for ('view_recipe', recipe_id=recipe.id)}}" class="stretched-link"></a>
                    <input type="hidden" name="clicked" value="{{ recipe.id }}">
                </div>
            </div>
        </div>
    </div>
  {% else %}
      <div>
        Nothing in here so far
      </div>
  {% endfor %}
  </ul>
{% endblock %}